

.apdw-home-header{
    height: 100px;
    width: 100%;
    box-shadow:  1px 1px 10px 1px #fff;
    display: flex;
    justify-content: center;
}

.apdw-home-header-inside{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content:space-between;

}
.apdw-header-leftmost{

}
.apdw-header-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 
.barra-pesquisa {
    width: 600px;
    height: 40px;
    border: 1px 0 1px 0;
    border-color: var(--dsc-color-card-border);
    background-color: #fff;
    display: flex;
  }
  
  #devcom-btn-submit {
    width: 40px;
    border: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
    border-color: var(--dsc-color-card-border);
    border-right: none;
  }
  
  .devcom-search-input {
    height: 40px;
    width: calc(100% - 80px);
    color: var(--dsc-color-font-primary);
    background-color: var(--dsc-color-btn-inverse);
    border: 1px 0 1px 0px;
    border-color: var(--dsc-color-card-border);
    border-left: none;
    border-right: none;
    padding: 0 10px;
    font-size: 16px;
  }
  .devcom-search-input:focus {
    outline: none;
  }
  .devcom-search-input::placeholder {
    color: var(--dsc-color-font-placeholder);
  }
  
  #devcom-btn-reset {
    width: 40px;
    border: 1px 1px 1px 0;
    border-radius: 0 4px 4px 0;
    border-color: var(--dsc-color-card-border);
    border-left: none;
  } */