
.apdw-infocard-div{
    width: 250px;
    height: 100%;
    border-radius: 30px;
    opacity: 0.6;
    text-align: center;
    text-decoration: none;
}


.apdw-infocard-div:hover{
    width: 275px;
    opacity: 0.8;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(247, 246, 246);
    -moz-box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgb(255, 254, 253);
    transition: 0.5s;
}


.apdw-infocard-div{
    border-radius: 30px;
    font-weight: 700;
}

.apdw-infocard-div img{
    width: 100%;
    max-height: 150px;
    object-fit: contain;

}















