
:root {
  --apdw-color-bg-primary: #ffffff;
 

  --apdw-color-card-bg: #ffffff;
  --apdw-color-card-border: #ffffff;

  --apdw-color-btn-primary: #ffffff;
  --apdw-color-btn-inverse: #fff;

  --apdw-color-font-primary: #ffffff;
}


*{
  padding: 0;
  margin: 0;
}


body {
  height: 2000px;
  width: 100%;
  background-image: url("/src/assets/imgs/pexels-starsky-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}
